<h1>Welcome to my first social media app, <%= @user.full_name||@user.username %></h1>

<p>
    You have signed up successfully,
    to <div class="btn btn-primary"><%= link_to "this app", @url %></div>

    Thanks!
</p>
